<div class="footer">
    <div class="pull-right">
        <a href="@Url.Action("Terms","Community")"> Terms Of Use </a>
    </div>
    <div>
        <strong>Copyright</strong> ICYL &copy; @DateTime.Now.Year.ToString() Ver 1.0
    </div>
</div>
