<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Server=G-5058;Database=ICYL;User ID=icyllogin;PWD=password;Trusted_Connection=false;" providerName="System.Data.SqlClient" />
    <add name="ICYLEntities" connectionString="metadata=res://*/ICYL.csdl|res://*/ICYL.ssdl|res://*/ICYL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=G-5058;initial catalog=ICYL;persist security info=True;user id=icyllogin;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Server=DESKTOP-LTDVPQB;Database=ICYL;User ID=icyllogin;PWD=password;Trusted_Connection=false;" providerName="System.Data.SqlClient" />
    <add name="ICYLEntities" connectionString="metadata=res://*/ICYL.csdl|res://*/ICYL.ssdl|res://*/ICYL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LTDVPQB;initial catalog=ICYL;persist security info=True;user id=icyllogin;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Server=SQL5102.site4now.net;Database=DB_A47B51_ICYL;User ID=DB_A47B51_ICYL_admin;PWD=Scmma2000;Trusted_Connection=false;" providerName="System.Data.SqlClient" />
    <add name="ICYLEntities" connectionString="metadata=res://*/DB_A47B51_ICYL.csdl|res://*/DB_A47B51_ICYL.ssdl|res://*/DB_A47B51_ICYL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5102.site4now.net;initial catalog=DB_A47B51_ICYL;persist security info=True;user id=DB_A47B51_ICYL_admin;password=Scmma2000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <connectionStrings>
    <!--Live-->
    <!--<add name="DefaultConnection" connectionString="Server=184.168.47.19;Database=ICYL;User ID=ICYLadmin;PWD=admin@!cyl;Trusted_Connection=false;" providerName="System.Data.SqlClient" />
    <add name="ICYLEntities" connectionString="metadata=res://*/ICYL.csdl|res://*/ICYL.ssdl|res://*/ICYL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.47.19;initial catalog=ICYL;persist security info=True;user id=ICYLadmin;password=admin@!cyl;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Test-->
    <!--<add name="DefaultConnection" connectionString="Server=SQL5102.site4now.net;Database=DB_A47B51_ICYL;User ID=DB_A47B51_ICYL_admin;PWD=Scmma2000;Trusted_Connection=false;" providerName="System.Data.SqlClient" />
    <add name="ICYLEntities" connectionString="metadata=res://*/DB_A47B51_ICYL.csdl|res://*/DB_A47B51_ICYL.ssdl|res://*/DB_A47B51_ICYL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5102.site4now.net;initial catalog=DB_A47B51_ICYL;persist security info=True;user id=DB_A47B51_ICYL_admin;password=Scmma2000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DefaultConnection" connectionString="Server=DESKTOP-LTDVPQB;Database=ICYL1;User ID=icylaccount;PWD=password123;Trusted_Connection=false;" providerName="System.Data.SqlClient"/>
    <add name="ICYLEntities" connectionString="metadata=res://*/ICYL.csdl|res://*/ICYL.ssdl|res://*/ICYL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LTDVPQB;initial catalog=ICYL1;persist security info=True;user id=icylaccount;password=password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
   <add name="DefaultConnection" connectionString="Data Source=MuthuPC;Initial Catalog=ICYL1;Integrated Security=True"/>
    <add name="ICYLEntities" connectionString="Data Source=MuthuPC;Initial Catalog=ICYL1;Integrated Security=True" providerName="System.Data.EntityClient"/>
 
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="NotificationEmailFrom" value="finance@icyl.org"/>
    <add key="ErrorEmailTo" value="njolly19@yahoo.com"/>
    <add key="SendTestEmailsTo" value="harshadrt@gmail.com"/>
    <add key="smtpHost" value="relay-hosting.secureserver.net"/>
    <add key="smtpUserName" value="finance@icyl.org"/>
    <add key="smtpPassword" value="Welcome123"/>
    <add key="SMTPPort" value="25"/>
    <add key="DownloadDays" value="0"/>
    <add key="FromEmailId" value="finance@icyl.org"/>
    <add key="Version" value="Ver 1.0"/>
    <add key="VersionDate" value="02/14/2021"/>
    <add key="VersionEnv" value="Test"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full"/>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.8" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/login" name=".ASPXFORMSICYL" timeout="60"/>
    </authentication>
    <sessionState mode="InProc" timeout="60"/>
  </system.web>
  <system.webServer>
    <!--<modules>
      <remove name="FormsAuthentication" />
    </modules>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <system.codedom>
    <compilers>
      <!--<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />-->
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: 240CC98D-32DC-4B59-A900-F1DE22D91E31-->