<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="ICYLEntities" connectionString="metadata=res://*/DB_A47B51_ICYL.csdl|res://*/DB_A47B51_ICYL.ssdl|res://*/DB_A47B51_ICYL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5102.site4now.net;initial catalog=DB_A47B51_ICYL;persist security info=True;user id=DB_A47B51_ICYL_admin;password=Scmma2000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ICYLEntities" connectionString="metadata=res://*/ICYL.csdl|res://*/ICYL.ssdl|res://*/ICYL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LTDVPQB;initial catalog=ICYL;persist security info=True;user id=icylaccount;password=password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

    <!--<add name="ICYLEntities" connectionString="metadata=res://*/ICYL.csdl|res://*/ICYL.ssdl|res://*/ICYL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.47.19;initial catalog=ICYL;persist security info=True;user id=ICYLadmin;password=admin@!cyl;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
