
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-md-12">
            <div class="widget green-bg text-black">
                <h2 class="blue font-bold">
                    Confirmation
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center font-bold"> 
                <a href="@Url.Action("Donation","Home")">Click here to start another Donation. </a>
            </div>
        </div>
    </div>
    <div class="  text-center animated fadeInRightBig">
        <h3 class="font-bold" Thank you!</h3>
        <div class="widget bg-info p-xl">
            Thank you for your generous donations!
            <br />
        </div>
    </div>
 