@model ICYL.BL.PaymentConfig
@using EnterpriseLayer.Utilities;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<div class="row">
    <div class="col-md-12">
        <h1 class="blue font-bold">Dear User</h1>
        <p>
            Please use our new domain <a href="https://donate.icyl.org">https://donate.icyl.org</a>
        </p>
        <p> Thank you for supporting the ICYL in its efforts to strengthen the community and face the challenges of today and into the future.</p>
    </div>
</div>

